.navbar_inf{
    height: 60px;
    width: 100%;
}

#jumbo{
    height: 400px;
}








/* **** debug **** */

.box{
    height: 50px;
    background-color: cornsilk;
    border: 1px solid black;
}

.box_jumbo{
    height: 200px;
    background-color: cornsilk;
    border: 1px solid black;
}

.debug .navbar_inf{
    background-color: grey;
}

.debug #jumbo{
    background-color: rgb(255, 155, 205);
}

/* .debug .testo_jumbo{
    height: 250px;
    background-color: burlywood;
} */