
.nav-item{
    line-height: 35px;
}

.chevron{
    height: 10px;
}

#jumbo{
    height: 400px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;
}

.btn_acquista{
    background-color: rgb(205 61 15);
}

.play_now{
    background-color: rgb(26, 26, 134);
}

footer{
    height: 400px;
    background-color: blue;
}




/* **** debug **** */

/* .debug .box{
    height: 50px;
    background-color: cornsilk;
    border: 1px solid black;
} */

/* .debug .box_jumbo{
    height: 300px;
    background-color: cornsilk;
    border: 1px solid black;
} */

/* .debug .navbar_inf{
    background-color: grey;
} */

/* .debug #jumbo{
    background-color: rgb(255, 155, 205);
} */

.debug main{
    background-color: lightblue;
    height: 2800px;
}

.debug .nuove_uscite{
    height: 950px;
}

.debug .foto_news{
    background-color: yellow;
    height: 400px;
}


.debug .play_now{
    height: auto;
}