.navbar_inf{
    height: 60px;
    width: 100%;
}

#jumbo{
    height: 500px;
}








/* **** debug **** */

.debug .navbar_inf{
    background-color: grey;
}

.debug #jumbo{
    background-color: rgb(255, 155, 205);
}